# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/

# Редакторы и IDE
.vscode/
.idea/
*.swp
*.swo

# Окружение и секреты (КРИТИЧЕСКИ ВАЖНО)
.env
.python-version

# Логи и временные файлы
*.log
pytest_cache/
.pytest_cache/
.cache/

# Django хранилища (чтобы не пушить картинки и стили, созданные локально)
static/
media/

# Системные файлы
.DS_Store
Thumbs.db

# База данных (на случай, если когда-то создашь локальную sqlite для тестов)
*.sqlite3